if (!params.skip_fastp) {
    process {
        withName: 'FASTP_MULTIQC:FASTP' {
            ext.args = { "--cut_front --cut_tail --trim_poly_x --cut_mean_quality 20 --qualified_quality_phred 20 --unqualified_percent_limit 20 --length_required ${params.trim_len}" }
            publishDir = [
                [
                    path: { "${params.output}/fastp/log" },
                    mode: 'copy',
                    pattern: "*.{json,html,log}"
                ],

            ]

        }
	withName: 'FASTP_MULTIQC:MULTIQC' {
		publishDir = [
		[
                    path: { "${params.output}/final_files" },
                    mode: 'copy',
                    pattern: "*multiqc.html",
                ]

		]
	}
    }

}

if (!params.skip_dedup) {
	process {
		withName: 'CD_HIT_DUP' {
			publishDir = [
				[
				path: { "${params.output}/dedup_reads" },
				mode: 'copy',
				pattern: "*_dedup.fastq.gz"
				]
			]

		}
		}
}

if (params.run_kraken2) {
	process {
		withName: 'KRAKEN2' {
			ext.args = '--report-zero-counts'
			publishDir = [
				[
					path: { "${params.output}/kraken2" },
					mode: 'copy',
					pattern: "*.report.txt"
				],
				[
					path: { "${params.output}/kraken2/classified_fastq" },
					mode: 'copy',
					pattern: "*classified*",
					enabled: params.save_kraken2_host_reads
				],
				[
					path: { "${params.output}/kraken2/unclassified_fastq" },
					mode: 'copy',
					pattern: "*unclassified*",
					enabled: params.save_kraken2_host_reads
				]
			]
		}
	}
}
