if (!params.skip_fastp) {
    process {
        withName: 'FASTP_MULTIQC:FASTP' {
            ext.args = { "--cut_front --cut_tail --trim_poly_x --cut_mean_quality 20 --qualified_quality_phred 20 --unqualified_percent_limit 20 --length_required ${params.trim_len}" }
            publishDir = [
                [
                    path: { "${params.output}/fastp/log" },
                    mode: 'copy',
                    pattern: "*.{json,html,log}"
                ],

            ]

        }
	withName: 'FASTP_MULTIQC:MULTIQC' {
		publishDir = [
		[
                    path: { "${params.output}/final_files" },
                    mode: 'copy',
                    pattern: "*multiqc.html",
                ]

		]
	}
    }

}

if (!params.skip_dedup) {
	process {
		withName: 'CD_HIT_DUP' {
			publishDir = [
				[
				path: { "${params.output}/dedup_reads" },
				mode: 'copy',
				pattern: "*_dedup.fastq"
				]
			]

		}
		}
}

process {
	withName: 'METASPADES' {
		shell = '/bin/bash'
		publishDir = [
			[
				path: { "${params.output}/metaspades/${meta.id}" },
				mode: 'copy',
				pattern: "*.{fasta}"
			]
		]
	}
}

process {
	withName: 'MEGAHIT' {
		publishDir = [
			[
				path: { "${params.output}/megahit/" },
				mode: 'copy',
				pattern: "*/final.contigs.fa"
			]
		]
	}
}

process {
	withName: 'CHOOSE_BEST_REF' {
		publishDir = [
			path: { "${params.output}/chosen_refs/${sample_id}" },
			mode: 'copy',
			pattern: "CHOSEN_REF*"
		]
	}
}

if (params.run_kraken2) {
	process {
		withName: 'KRAKEN2' {
			ext.args = '--report-zero-counts'
			publishDir = [
				[
					path: { "${params.output}/kraken2" },
					mode: 'copy',
					pattern: "*.report.txt"
				],
			]
		}
	}
}

process {
	withName: 'FILL_GAPS_WITH_REFERENCE' {
		publishDir = [
			path: { "${params.output}/imputed_assemblies" },
			mode: 'copy',
			pattern: "*imputed_assembly.fasta"
		]
	}
}
